<section class="main">
  <header>
    <h1>New Arrivals</h1>
  </header>
  <article class="products">
    <ul>
      <% @items.recent.map do |i| %>
      <li>
          <a href="/items/<%=i.id%>/"><img src="/img/<%=i.id%>/0.jpg" /></a>
          <br />
          <b><%=%></b>
          <br />
          <%=number_to_currency(i.retail_price, :unit => "$", :precision => 0)%>
        </li>
      </ul>
      <%end%>
  </article>
</section>