@font-face {
	font-family: "HoneyScriptBold";
	src: url("/fonts/HoneyScript-SemiBold.ttf");
	format:("truetype");
}

@font-face {
	font-family: "Bebas Neue";
	src: url("/fonts/BebasNeue.otf");
	format:("otf");
}


footer {
	font-family: "Bebas Neue",Helvetica,sans-serif;
}

body {
	background-color: #FFFF99;
	color: #311900;
	font-family: "Bebas Neue",Helvetica,sans-serif;
}


.logo {
	font-family: "HoneyScriptBold", Arial, sans-serif;
	font-size: 100px;
	text-align: center;
	line-height: 74px;
	padding-top: 50px;
}

.main_nav {
	text-align: center;
	line-height: 12px;
}

.nav {
	list-style:none;
}

.nav_item {
	display: inline;
}

div.main_nav li {
	font-size: 2em;
	padding: 1em;
}

div.main {
	background: #fffccc;
	border: 3px solid #311900;
	float: left;
	min-width: 100%;
	min-height: 800px;
}

div.products_list_img {
	display: inline;
	margin: 5px;
	float: left;
	max-width: 200px;
	min-height: 400px;
	text-align: center;
}

div.products_list_desc { 
	display: inline;
}

div.product_description {
	margin: 0px 100px 5px 700px;
	border-left: 1px solid #311900;
	padding: 0px 2em 0px 2em;
}

.products_list img {
	width: 180px;
}

nav.show_product_other_photos {
	width: 250px;
	float:left;
	text-align:center;
	margin-left: 10px;
}

.show_product_other_photos a:hover img, .products_list_img a:hover img{
	transform: scale(1.5);
	-moz-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
}

img {
	border-radius: 15px;
}

div.show_product_main_photo {
	float:left;
	max-width: 400px;
	border-left: 1px solid #311900;
	border-bottom: 1px solid #311900;
	margin-left: 10px;
	padding-left: 20px;
	padding-bottom: 20px;
}

.show_product_main_photo img {
	max-width: inherit;
}

.show_product_other_photos img{
	max-width:120px;
}

a {
	color: #311900;
	text-decoration: none;
}

a.button {
	border: 2px solid #311900;
	border-radius: 5px;
	padding: 1px;
	box-shadow: 5px 5px #311900;
	-moz-box-shadow: 5px 5px #311900;
	letter-spacing: 1px;
	margin: 1em;
}

header.page_title {
	margin: 2em;
}

header.product {
	font-size: 1.5em;
}

table.sizeandstuff td{
	font-size: 1.5em;
	min-width: 100px;
}

td.right {
	text-align: right;
}

a.help {
	font-size: .5em;
	vertical-align: super;
	text-align: right;
	border: 1px solid #311900;
	border-radius: 3px;
	box-shadow: 2px 2px #311900;
	-moz-box-shadow: 2px 2px #311900;
	letter-spacing: 1px;
	margin-left: 25px;
}

td.help {
	text-align: left;
	min-width: 75px;
}

p.shipandstuff {
	font-size: 2em;
	border-top: 1px solid #311900;
	border-bottom: 1px solid #311900;
}

td.price {
	text-align: center;
	font-size: 5em;
}

div.top_nav_container {
	background: #fffccc;
}

div.top_left_nav {
	float: left;
}

div.top_right_nav {
	float: right;
}

.top_left_nav li, .top_right_nav li {
	margin: 0px 5px 0px 5px;
}