            <header class="product">
                <p>
             <b>How to Buy</b>
                </p>
            </header>
            <p>
                Online ordering is not availab


                le through our website at this time. If you'd like to purchase this item, please come by our showroom at 130 5th Street in Valley Junction. You may also purchase this item through our eBay account.
                <br />
                <br />
                <%if @listing%>
                <a class="button" href="http://cgi.ebay.com/ws/eBayISAPI.dll?ViewItem&item=<%=@listing.ebay_id%>">&nbsp;Buy through eBay&nbsp;</a>
                <%end%>
                <a class="button" href="mailto:sales@revive-clothiers.com?subject=Item#<%=@item.id%>">&nbsp;Make an Appointment&nbsp;</a>
                
                <br />
                <br />
            </p>