    <div class="deptinfo" style="clear:both;">
        <br /><br />
         <%= render "/products/department_info/dept#{@item.department_id}"%>

    </div>

    <div class="terms">
        <p>
            <b>Terms & Conditions</b>
            <br /><br />
           For sale is for the item stated in the description only. Anything else viewable in the photographs is for display purposes only and is not included.
            <br /><br />
            <b>Our Guarantee</b>
            <br /><br />
            We guarantee that every item we sell is authentic and is described and photographed to the best of our abilities. All items have been inspected throughly and graded with any abnormalities noted. Measurements are done by hand and are done with care to ensure the highest accuracy possible. However, small variations may occur in how a garment is measured so we generally do not offer full refunds for measurement errors (less than an inch).
            <br /><br />
            <b>Shipping</b>
            <br /><br />
            <b>Shipping is free in the continental United States on all full priced items.</b> Sale priced, clearance and best offer items may not include shipping. All other shipping, including international is calculated based on the actual weight of the item to get you the best rate. We do not charge handling fees. All customs, VAT, and any other fees are the responsiblity of the purchaser. We list the actual purchase price on customs forms, so plan on paying any applicable taxes. 
            <br /><br />
            <b>International Shipping</b>
            <br /><br />
            If you live outside of the 48 contential United States, you will be responsible for <b>actual shipping cost only</b>. We do not charge handling fees, and we do not try to skim extra money off of you. We offer Priority Mail and First Class (when available). <b>First Class does not provide you or us with a tracking number, and we will be unable to refund your purchase if you do not receive it</b>. 
            <br /><br />
            <b>Return Policy</b>
            <br /><br />
            We stand behind everything that we sell. Because we know that you're going to love your item, we offer a 14 day unconditional money back return policy. If for any reason you are not satisfied with your item, you may return it for a full refund. Free shipping is offered as a promotion only and is forfeited if you choose to return your item. You are responsible for return shipping. 
            <br /><br />
            If your item arrives other than as described, please contact us immediately. We will make sure that you are satisfied with your purchase. All shipping charges will be paid by us if you need to return an item as damaged/not as described.
            </p>


    </div>