<section class="main">
  <header>
    <h1>Welcome</h1>
  </header>
  <article class="products">
    <p>
      Revive Clothiers is located at 130 5th Street in Historic Valley Junction of West Des Moines, Iowa. Since 2011 they have been scouring the midwest and beyond for the highest quality suits, sport coats, blazers, footwear and more. 
    </p>
  </article>
</section>