<div class="main">
  
  <article class="products">
    <p>
    Revive Clothiers is located in the heart of Valley Junction at 130 5th Street in West Des Moines.
    <br /><br />
    Since the fall of 2011, Revive Clothiers has been scouring the midwest and beyond to bring the most unique and highest quality garments and shoes back to life. 
    <br /><br />
    All currently available items are listed on the website. Purchasing is available directly through the showroom or through eBay at this time. 
    </p>
  </article>
</div>
