<div class="main">
	<header class="page_title">
    	<h1>Clothing > Men's > <%=@item.department.name.titleize%> > <%=@item.product_brand.titleize%> </h1>
  	</header>
        <%= render 'product_information'%>

 </div>
