<p>

        <b>Revive Clothiers Suiting Information</b>
        <br /><br/>
        All of our pre-owned suits, jackets, sport coats and blazers have been through our exclusive revival process to ensure that you're getting a garment that is of the highest quality, and exactly what you expect. 
        <br /><br />
        All of our suits have been hand selected by expert satorialists and confirm to our high standards. We only look for the highest quality and timeless pieces to add to our inventory. Inferior mass produced items with fused together interfacings don't make the cut. 
        <br /><br />
        Each garment is carefully inspected with any repairs being professionally handled. We check for loose stitching, 
        linings that need to be re-stitched and make repairs as needed.
        <br /><br />
        It's important to us to make sure you're getting a garment that is perfect for you. That's why we carefully measure each garment, and size according to measurements so fit is consistent with each purchase. We make note and photograph and wear or flaws in the garment so you can make an informed buying decsion. Each garment is rated from one to five.
        <br /><br />
        <b>Tailoring Information</b>
        <br /><br />
        We offer full tailoring services on everything that we sell. If you are interested in any alterations, please let us know. If you do not request any alterations, we will send the garment un-altered. 
        <br /><br />
    
</p>