		    <p >
	    <b>Revive Clothiers Neckwear Information</b>
   <br /><br />
   Every piece of footwear that we offer has been through our extensive revival process to ensure that you're getting footwear of the highest quality, and exactly what you expect.
   <br /><br />
   All footwear is carefully hand selected by expert satorialists and confirms to our high standards. We only accept the highest quality items of timeless design to add to our inventory. That means you're going to see footwear made of full grain leather with goodyear welting and classic styling. We stay away from mass produced, glued together and corrected grain leathers and you should too!
   <br /><br />
   Each pair of shoes is inspected and professionally re-conditioned. This includes a sanitization process, re-conditioning of the leather, removing all of the old polish and old shoelaces, applying new polish and buffing it to a perfect shine, re-applying the correct edge dressing, and then putting in a fresh pair of laces for you.
   <br /><br />
   We make notes of any excessive wear or defects in each pair of shoes and make sure to list it in the auction description. Each pair of shoes is assigned a rating from one to five so you can be assured that you'll get exactly what you expect when you purchas from us.
   <br /><br />
    </p>    
    