<p>

        <b>Revive Clothiers Vintage Suiting Information</b>
        <br /><br/>
          All of our vintage suiting pieces have been hand selected by expert sartorialists for unique qualities specific to the time period in which they were made. We guarantee that they are 100% authentic and of vintage age (20 or more years old). 
          <br /><br />
        All of our pre-owned suits have been through our exclusive revival process to ensure that you're getting a garment that is of the highest quality, and exactly what you expect. 
        <br /><br />
        <br /><br />
        Each garment is carefully inspected with any repairs being professionally handled. We check for loose stitching, 
        linings that need to be re-stitched, worn trouser cuffs and make repairs as needed. We then un-hem the trousers and repress them so that they can be tailored specifically for you. 
        <br /><br />
        It's important to us to make sure you're getting a garment that is perfect for you. That's why we carefully measure each garment, and size according to measurements so fit is consistent with each purchase. We make note and photograph and wear or flaws in the garment so you can make an informed buying decsion. Each garment is rated from one to five.
        <br /><br />
        <b>Tailoring Information</b>
        <br /><br />
        We offer full tailoring services on everything that we sell. Unless otherwise noted, all suit trousers come un-hemmed with the amount of available fabric noted. <b>Hemming is included on all full priced items.</b> We want to make sure that you get a perfect fit, so during the checkout let us know your inseam, along with your cuff prefences (We recommend cuffs with pleated trousers, and none with flat fronted trousers). If you do not request any alterations, we will send the garment un-altered. 
        <br /><br />
        Any other tailoring you need can be completed prior to shipment if you'd like. Just let us know what you need done.
        <br />
        </p>