<p>
<b>Revive Clothiers Neckwear Information</b>
<br /><br />
Every piece of neckwear that we offer has been through our extensive revival and inspection process to ensure that you're getting neckwear of the highest quality, and exactly     what you expect.                                      
<br /><br />
All neckwear is carefully hand selected by expert satorialists and confirms to our high standards. We only accept the highest quality items of timeless design to add to our inventory. This means that you're going to get a piece of neckwear that is free from defects and is guaranteed to be authentic.
<br /><br />
Generally, we only offer neckwear that is in exceptional condition. Occassionally we'll offer a tie that has a run in the fabric, which we would note in the auction. As with all of our items, all ties are assigned a rating from 1-5 to note condition.    
</p>