		    <p>
	    <b>Revive Clothiers Knitwear Information</b>
	    <br /><br/>
	    All of our pre-owned knitwear has been through our exclusive revival process to ensure that you're getting a garment that is of the highest quality, and exactly what you expect. 
	    <br /><br />
	    All of our garments have been hand selected by expert satorialists and confirm to our high standards. We only look for the highest quality and timeless pieces to add to our inventory. 
	    <br /><br />
	    Each garment is carefully inspected with any repairs being professionally handled. We check for loose stitching, 
	    <br /><br />
	    It's important to us to make sure you're getting a garment that is perfect for you. That's why we carefully measure each garment, and size according to measurements</a> so fit is consistent with each purchase. We make note and photograph and wear or flaws in the garment so you can make an informed buying decsion. Each garment is rated from one to five.
	    <br /><br />
	    <b>Tailoring Information</b>
	    <br /><br />
	    We offer full tailoring services on everything that we sell. Please let us know if we can provide you with any alterations.
	    <br /><br />
    </p>