<p>
<b>Revive Clothiers Handmade Neckwear</b>
   <br /><br />
   This item has been handmade by a single artisan from the highest quality in re-claimed fabrics. We only select the highest quality fabrics for our handmade items and we only use the pieces of fabric that are in absolutely perfect conditon.
   <br /><br />
   We guarantee that the fabric is authentic and from the specified source. 
   <br /><br />
   Each item is made by hand, so variations may exist. Each item is completely unique.
</p>